.hero {
    padding-top: 100px;
    padding-bottom: 600px;
    background-image: url("../images/joker.jpg");
    background-repeat: no-repeat;
    background-size: cover;

    &__title {
        color: white;
        font-size: 60px;
        padding-top: 50px;
        padding-bottom: 40px;

    }

    &__text {
        color: white;
        font-size: 30px;
    }

    @media (max-width: 1024px) {
        text-align: center;

        &__title {
            font-size: 120px;
            padding-top: 70px;
            padding-bottom: 60px;
        }

        &__text {
            font-size: 60px;
            padding-top: 30px;
        }
    }

    @media (max-width: 768px) {
        text-align: center;

        &__title {
            font-size: 100px;
            padding-top: 70px;
            padding-bottom: 60px;
        }

        &__text {
            font-size: 50px;
            padding-top: 30px;
        }
    }

    @media (max-width: 640px) {
        text-align: center;

        &__title {
            font-size: 70px;
        }

        &__text {
            font-size: 35px;
            padding-top: 30px;
        }
    }
}